In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-07-31 22:04:16,-33.6500,115.3333,46.09,90,90,30.27
1,1,Mataura,NZ,2021-07-31 22:04:16,-46.1927,168.8643,48.47,100,100,1.97
2,2,Hobart,AU,2021-07-31 22:00:10,-42.8794,147.3294,46.26,70,40,7.00
3,3,Hermanus,ZA,2021-07-31 21:59:52,-34.4187,19.2345,54.90,87,100,5.14
4,4,Vaini,TO,2021-07-31 22:00:18,-21.2000,-175.2000,73.62,75,100,25.19

In [3]:
# Get the data types of my dataframe file.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed in miles per hour
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Create a dataframe with the cities that meet the customer's criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Vaini,TO,2021-07-31 22:00:18,-21.2000,-175.2000,73.62,75,100,25.19
6,6,Avarua,CK,2021-07-31 22:04:17,-21.2078,-159.7750,75.25,78,75,12.66
7,7,Gwadar,PK,2021-07-31 22:00:25,25.1216,62.3254,81.55,84,80,6.44
9,9,Chicama,PE,2021-07-31 22:04:18,-7.8447,-79.1469,71.29,68,4,9.22
14,14,Albany,US,2021-07-31 22:00:11,42.6001,-73.9662,73.15,50,49,7.47
15,15,Rikitea,PF,2021-07-31 22:00:01,-23.1203,-134.9692,70.61,71,4,10.00
16,16,Tanza,PH,2021-07-31 22:04:20,14.6753,120.9389,82.18,84,100,11.01
19,19,Forestville,US,2021-07-31 22:04:21,38.8451,-76.8750,83.48,56,20,9.22
20,20,Georgetown,MY,2021-07-31 21:59:45,5.4112,100.3354,78.73,93,40,5.99
21,21,Butaritari,KI,2021-07-31 22:04:22,3.0707,172.7902,81.68,75,36,8.41

In [11]:
# Determine if there are any missing values in the student data.
preferred_cities_df.count()

City_ID       264
City          264
Country       264
Date          264
Lat           264
Lng           264
Max Temp      264
Humidity      264
Cloudiness    264
Wind Speed    264
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
4         Vaini      TO     73.62 -21.2000 -175.2000
6        Avarua      CK     75.25 -21.2078 -159.7750
7        Gwadar      PK     81.55  25.1216   62.3254
9       Chicama      PE     71.29  -7.8447  -79.1469
14       Albany      US     73.15  42.6001  -73.9662
15      Rikitea      PF     70.61 -23.1203 -134.9692
16        Tanza      PH     82.18  14.6753  120.9389
19  Forestville      US     83.48  38.8451  -76.8750
20   Georgetown      MY     78.73   5.4112  100.3354
21   Butaritari      KI     81.68   3.0707  172.7902

In [13]:
from config import g_key

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# Add the latitude and longitude to location key for the params dictionary.
params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
     
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [20]:
hotel_df.head()

       City Country  Max Temp      Lat       Lng           Hotel Name
4     Vaini      TO     73.62 -21.2000 -175.2000  Keleti Beach Resort
6    Avarua      CK     75.25 -21.2078 -159.7750         Paradise Inn
7    Gwadar      PK     81.55  25.1216   62.3254         Sadaf Resort
9   Chicama      PE     71.29  -7.8447  -79.1469    Balihai Bungalows
14   Albany      US     73.15  42.6001  -73.9662

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))