## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config4 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,3,Auki,SB,78.62,scattered clouds,-8.7676,160.7034,Auki Motel
1,4,Raudeberg,NO,52.86,few clouds,61.9875,5.1352,Nordre Silda.
2,7,Port Alfred,ZA,58.08,scattered clouds,-33.5906,26.8910,The Halyards Hotel
3,9,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,10,Jamestown,US,72.72,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "grindavik"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "olafsvik"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "husavik"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "hofn"]
vacation_end = vacation_df.loc[vacation_df["City"] == "grindavik"]

In [14]:
vac_itinerary = vacation_df.loc[vacation_df["Country"] == "IS", ["City","Lat","Lng"]]
vac_itinerary

          City      Lat      Lng
62        Hofn  64.2539 -15.2082
107    Husavik  66.0449 -17.3389
391  Grindavik  63.8424 -22.4338
395   Olafsvik  64.8945 -23.7142

In [16]:
import numpy as np

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
vac_itinerary.to_numpy()
# start = 
# end = 
# stop1 = 
# stop2 = 
# stop3 =

array([['Hofn', 64.2539, -15.2082],
       ['Husavik', 66.0449, -17.3389],
       ['Grindavik', 63.8424, -22.4338],
       ['Olafsvik', 64.8945, -23.7142]], dtype=object)

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vac_itinerary = gmaps.directions_layer(
    Grindavik, Grindavik, waypoints[Olafsvik, Husavik, Hofn],
    travel_mode = "BICYCLING"
)    
fig.add_layer(vac_itinerary)
fig
#iceland_vac.to_numpy[0]
#Grindavic to Olafsvick, Husavick, Hofn, Grindavik
#= gmaps
#        geneva, zurich, waypoints=[Olafsvick, Husavick, Hofn],
#       travel_mode='BICYCLING')
#fig.add_layer()

#fig = gmaps.figure(center=(51.5, -0.2), zoom_level=11)
#fig.add_layer(gmaps.bicycling_layer())
#fig


#marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

NameError: name 'Grindavik' is not defined

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure